$padding_mobile: 16px;

$header-height: 60px;

$color-transition-duration: 0.3s;
$color-transition-ease: ease-in-out;

@mixin visual_fading-blur (
    $px,
    $side,
    $length
) {
    &::before {
        content: "";
        
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: 0;

        width: 100%;
        height: 100%;

        backdrop-filter: blur($px);
        mask-image: linear-gradient($side, transparent, black $length);
    }
}
