@use "sass:list";
@use "sass:string";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-main: 'Lora', serif;
//$font-link: 'DM Sans', sans-serif;
//$font-accent: 'Montserrat', sans-serif;

$padding_mobile: 16px;

$header-height: 60px;

$anim-duration: .6s;
$anim: $anim-duration ease;

$ease-duration: .3s;
$easing: $ease-duration ease;

$brd-radius: 20px;

@mixin focus-visible {
    &:focus-visible {
        @content;
    }
}

@mixin hover {
    @media (any-hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

@mixin rd-motion {
    @media (prefers-reduced-motion: reduce) {
        @content;
    }
}

@mixin glass($px: 5px, $brd-rad: 0px) {
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 0;
        width: 100%;
        height: 100%;
        border-radius: $brd-rad;
        backdrop-filter: blur($px);
    }
}

@mixin glassOff() {
    &::after { backdrop-filter: none; }
}

@mixin bg-image($folder, $size) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-image: url('#{$folder}/#{$size}.jpg');

    background-image: image-set(
        url('#{$folder}/#{$size}.webp') type('image/webp') 1x,
        url('#{$folder}/#{$size}.jpg') type('image/jpg') 1x,
        url('#{$folder}/#{$size * 2}.webp') type('image/webp') 2x,
        url('#{$folder}/#{$size * 2}.jpg') type('image/jpg') 2x,
    );
}
