@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-main: 'Lora', serif;
$font-link: 'DM Sans', sans-serif;
$font-accent: 'Montserrat', sans-serif;

$padding_mobile: 16px;

$header-height: 60px;

$anim-duration: .6s;
$anim: $anim-duration ease;

$ease-duration: .3s;
$easing: $ease-duration ease;

@mixin focus-visible {
    &:focus-visible {
        @content;
    }
}

@mixin hover {
    @media (any-hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

@mixin rd-motion {
    @media (prefers-reduced-motion: reduce) {
        @content;
    }
}

@mixin glass($px: 5px) {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur($px);
    }
}

@mixin glassOff() {
    &::after { backdrop-filter: none; }
}

@mixin bg-image($path) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-image: url('#{$path}@2x.jpg'); // fallback

    background-image: image-set(
        url('#{$path}@1x.avif') type('image/avif') 1x,
        url('#{$path}@1x.webp') type('image/webp') 1x,
        url('#{$path}@1x.jpg') type('image/jpg') 1x,
        url('#{$path}@2x.avif') type('image/avif') 2x,
        url('#{$path}@2x.webp') type('image/webp') 2x,
        url('#{$path}@2x.jpg') type('image/jpg') 2x,
    );
}
