@use 'base' as *;
@use 'responsive' as *;
@use 'variables' as *;
@use 'atoms' as *;

:root {
    // palette
    --color__background_dark: #0c1028;
    --color__primary_dark: #fafafa;
    --color__background_dark-rgb: 12, 16, 40;
    --color__primary_dark-rgb: 250, 250, 250;
    
    --color__background_light: #fafafa;
    --color__primary_light: #191d29;
    --color__background_light-rgb: 250, 250, 250;
    --color__primary_light-rgb: 23, 25, 31;

    --color__accent: #a78edd;
    --color__accent-rgb: 167, 142, 221;

    // time
    --color-transition-duration: #{$color-transition-duration};
    --color-transition-ease: #{$color-transition-ease};
    
    --animation-duration: #{$animation-duration};
}

html {
    background-color: var(--color__background);
}
