@use 'base' as *;
@use 'responsive' as *;
@use 'variables' as *;
@use 'atoms' as *;

:root {
    // palette
    --color__background_dark: #161b1f;
    --color__primary_dark: #fafafa;
    --color__background_dark-rgb: 22, 27, 31;
    --color__primary_dark-rgb: 250, 250, 250;
    
    --color__background_light: #fafafa;
    --color__primary_light: #232230;
    --color__background_light-rgb: 250, 250, 250;
    --color__primary_light-rgb: 35, 34, 48;

    --color__accent_light: #05e9cb;
    --color__accent: #14be99;
    --color__accent_dark: #073B4C;

    // time
    --color-transition-duration: #{$anim-duration};
    --color-transition-ease: ease;
    
    --anim-duration: #{$anim-duration};
}

html {
    background-color: var(--color__background);
}
